@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #8d9ef8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid blue; */
  height: calc(100vh - 2%);
  font-family: "Grandstander", sans-serif;
}

h1 {
  display: flex;
  font-size: 5vw;
  justify-content: center;
  align-items: center;
  height: 15vh;
  /* border: 1px solid red; */
  margin: 0;
  font-family: "Grandstander", sans-serif;
  color: aliceblue;
}

.instrument-section {
  display: flex;
  height: 85%;
  /* border: 1px solid green; */
}

#marimba-instrument {
  display: flex;
  margin: 3% auto;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 4rem;
  cursor: pointer;
  border-radius: 0.8rem;
}

.key:hover {
  cursor: url("../assets/img/paloGrande.png"), auto;
}

.top-screw {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #ffd796;
  border-radius: 50%;
  margin-top: 0.5rem;
}

.bottom-screw {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #ffd796;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

#k1 {
  height: 17.5rem;
  background-color: #51e5ff;
  box-shadow: inset 15px 0px 0px #1eb6d1;
}

#k2 {
  height: 16.25rem;
  background-color: #8d3cd9;
  box-shadow: inset 15px 0px 0px #63269c;
}

#k3 {
  height: 15rem;
  background-color: #ec368d;
  box-shadow: inset 15px 0px 0px #cc2675;
}

#k4 {
  height: 13.75rem;
  background-color: #ffa4a4;
  box-shadow: inset 15px 0px 0px #ff8a8a;
}

#k5 {
  height: 12.5rem;
  background-color: #94d675;
  box-shadow: inset 15px 0px 0px #7ebe5f;
}

#k6 {
  height: 11.25rem;
  background-color: #ff8c42;
  box-shadow: inset 15px 0px 0px #ec7224;
}

#k7 {
  height: 10rem;
  background-color: #fb3939;
  box-shadow: inset 15px 0px 0px #ed0303;
}

#k8 {
  height: 8.75rem;
  background-color: #51e5ff;
  box-shadow: inset 15px 0px 0px #1eb6d1;
}

#k9 {
  height: 7.5rem;
  background-color: #8d3cd9;
  box-shadow: inset 15px 0px 0px #63269c;
}

#k10 {
  height: 6.25rem;
  background-color: #ec368d;
  box-shadow: inset 15px 0px 0px #cc2675;
}

@keyframes keyAnimation {
  0% {
    transform: skewX(-15deg);
  }
  5% {
    transform: skewX(15deg);
  }
  10% {
    transform: skewX(-15deg);
  }
  15% {
    transform: skewX(15deg);
  }
  20% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

.key.clicked,
.key:active {
  animation: keyAnimation 1.5s infinite;
}

@media only screen and (min-width: 1024px) {
  body {
    background-color: #8d9ef8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    /* height: 100vh; */
  }
  h1 {
    margin: 4rem auto;
    height: 10vh;
  }

  .instrument-section {
    height: 90%;
  }

  #marimba-instrument {
    margin: 0 auto;
  }

  .key {
    /* cursor: pointer; */
    width: 6vw;
    border-radius: 0.8rem;
  }
  .key:hover {
    cursor: url("../assets/img/paloGrande.png"), auto;
  }
  .top-screw {
    width: 1.8rem;
    height: 1.8rem;
    background-color: #ffd796;
    border-radius: 50%;
    margin-top: 0.6rem;
  }

  .bottom-screw {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    margin-bottom: 0.6rem;
  }

  #k1 {
    height: 60vh;
  }

  #k2 {
    height: 55vh;
  }

  #k3 {
    height: 50vh;
  }

  #k4 {
    height: 45vh;
  }

  #k5 {
    height: 40vh;
  }

  #k6 {
    height: 35vh;
  }

  #k7 {
    height: 30vh;
  }

  #k8 {
    height: 25vh;
  }

  #k9 {
    height: 20vh;
  }

  #k10 {
    height: 15vh;
  }
}
